* {
    margin: 0;
    padding: 0;
}

.header {
    height: 20vh;
    background: #e5e7eb;
    box-shadow: lightgray 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.book {
    height: 10vh;
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2rem;
}

.book div {
    color: white;
    font-size: 2rem;
    width: 25vw;
    display: flex;
    justify-content: center;
}

.info {
    padding: 0px 2rem;
    font-size: 2rem;
    height: 10vh;
    display: flex;
    background-color: #3882f6;
}

.info div {
    width: 25vw;
    display: flex;
    justify-content: center;
}