* {
    margin: 0;
    padding: 0;
}

.header {
    height: 20vh;
    background: #e5e7eb;
    box-shadow: lightgray 1px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.book {
    height: 10vh;
    background: #1f2937;
    display: flex;
    align-items: center;
    padding: 0px 2rem;
}

.book div {
    color: white;
    font-size: 1.5rem;
    width: 14.28vw;
    display: flex;
    justify-content: center;
}

.info {
    padding: 0px 2rem;
    font-size: 2rem;
    height: 10vh;
    display: flex;
    background-color: #3882f6;
    position: sticky;
    top: 0;
    border: 2px solid black;
}

.info div {
    width: 14.28vw;
    display: flex;
    justify-content: center;
}

.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border: 2px solid black;
}

.footer button,
.add,
.edit {
    color: white;
    background: #1f2937;
    height: 8vh;
    width: 30vh;
    border-radius: 4vh;
    font-size: 3.5vh;
}

.bookInfo {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background:  darkgray;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    padding: 5vh;
    border-radius: 5vh;
}

.statusBtn {
    display: block;
    justify-content: end;
}

.edit {
    display: none;
}

.book button {
    color: #e5e7eb;
    background: #3882f6;
    height: 7vh;
    width: 20vh;
    border-radius: 3vh;
    font-size: 2.5vh;
}